{{head-layout}}
{{page-title "TestSite"}}
<!-- header navbar -->
<BsNavbar
  @type="light"
  class="header"
  as |navbar|
>
    <navbar.toggle class="sidebartoggle" @onClick={{this.sidebarToggle}} />
    <LinkTo @route="home" class="navbar-brand">Sample Logo</LinkTo>
    <navbar.toggle/>
    <navbar.content>
        <navbar.nav as |nav|>
        <nav.item>
            <nav.link-to @route="home">Home</nav.link-to>
        </nav.item>
        <nav.item>
            <nav.link-to @route="about">About</nav.link-to>
        </nav.item>
        </navbar.nav>
  </navbar.content>
</BsNavbar>
<div class="content {{if this.isExpand 'expand'}}">
    <!-- sidebar and main content -->
    <Sidebar />
    <div class="main-content">
        {{outlet}}
    </div>
</div>
